$color-main: rgba(37, 37, 37, 1);
$color-main-head-nav-bg1: rgba(40, 40, 55, 0.9);
$color-main-head-nav-bg2: rgba(40, 40, 55, 0.9);
$color-sub-main: rgba(37, 37, 37, 0.99);
$color-secondary: rgba(139, 149, 160, 1);
$color-secondary-banner: rgba(139, 149, 160, 0.618);
$color-secondary-banner-active: rgba(139, 149, 160, 1);
$color-secondary-additional: rgba(204, 204, 204, 1);
$color-embellish: rgba(64, 169, 255, 1);
$color-additional: rgba(237, 237, 237, 1);

$font-color-main: rgba(255, 255, 255, 1);

$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-big: 1.8rem;

$bg-color-normal: rgba(250, 250, 248, 1);
$bg-color-white: rgba(255, 255, 255, 1);
$bg-color-category: rgba(249, 249, 249, 1);

$fc-red: #e93323;
$fc-ash: rgba(153, 153, 153, 1);

$line-c-ash: #ebeef5;
